{% load static %}
<nav class="navbar is-transparent">
	<div class="navbar-brand">
		<a class="navbar-item" href="/">
			<img src="{% static 'images/ibo.jpg' %}" />
		</a>
		<div
			class="navbar-burger"
			data-target="navbarExampleTransparentExample"
		>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	<div id="navbarExampleTransparentExample" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" href="{% url 'home' %}"> Home </a>
			<a class="navbar-item" href="{% url 'product' %}"> Product </a>
		</div>

		<div class="navbar-end">
			<div class="navbar-item">
				<div class="field is-grouped">
					<a class="navbar-item" href="/admin" target="_blank">
						Admin</a
					>
					<p class="control">
						<a
							class="button is-primary is-focused"
							data-social-network="Twitter"
							data-social-action="tweet"
							data-social-target="https://bulma.io"
							target="_blank"
							href="https://twitter.com/intent/tweet?text=@uysalserkan08"
						>
							<span> Tweet </span>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</nav>
