{% load static %}
<nav class="navbar is-transparent">
	<div class="navbar-brand">
		<a class="navbar-item" href="/">
			<img src="{% static 'images/ibo.jpg' %}" />
		</a>
		<div
			class="navbar-burger"
			data-target="navbarExampleTransparentExample"
		>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	<div id="navbarExampleTransparentExample" class="navbar-menu">
		{% if request.user.is_staff %}
		<div class="navbar-start">
			<a class="navbar-item" href="{% url 'home' %}"> Home </a>
			<a class="navbar-item" href="{% url 'product' %}"> Product </a>
		</div>
		{% endif %}

		<div class="navbar-end">
			<div class="navbar-item has-dropdown is-hoverable">
				{% if request.user.is_authenticated %}
				<a class="navbar-link"> {{request.user}} </a>
				<div class="navbar-dropdown">
					{% if request.user.is_staff %}
					<a href="/admin" class="navbar-item" target="_blank">
						Admin
					</a>

					<hr class="navbar-divider" />
					{% else %}
					<a href="{% url 'user_settings' %}" class="navbar-item">
						Settings
					</a>
					<hr class="navbar-divider" />

					{% endif %}
					<a href="{% url 'logout' %}" class="navbar-item"> Çıkış </a>
					{% else %}
					<a
						href="{% url 'login' %}"
						target="_blank"
						class="navbar-item"
					>
						Giriş
					</a>

					<a
						href="{% url 'register' %}"
						target="_blank"
						class="navbar-item"
					>
						Kayıt
					</a>
					<hr class="navbar-divider" />

					<a href="/admin" target="_blank" class="navbar-item">
						Admin
					</a>
				</div>
				{%endif%}
			</div>
			<div class="navbar-item">
				<div class="field is-grouped">
					<p class="control">
						<a
							class="button is-primary is-focused"
							data-social-network="Twitter"
							data-social-action="tweet"
							data-social-target="https://bulma.io"
							target="_blank"
							href="https://twitter.com/intent/tweet?text=@uysalserkan08"
						>
							<span> Tweet </span>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</nav>
