<div class="columns">
	<!--card başlangıcı-->
	<div class="column is-one-third">
		<div class="card">
			<header class="card-header has-background-grey-lighter">
				<p class="card-header-title is-centered">Total Orders</p>
			</header>
			<div class="card-content has-background-white-bis">
				<div class="content">
					<div class="column has-text-weight-semibold	has-text-centered">{{total_orders}}</div>
				</div>
			</div>
		</div>
	</div>
	<!--card bitişi-->
	<!--card başlangıcı-->
	<div class="column is-one-third">
		<div class="card">
			<header class="card-header has-background-grey-lighter">
				<p class="card-header-title is-centered">Orders Delivered</p>
			</header>
			<div class="card-content has-background-white-bis">
				<div class="content">
					<div class="column has-text-weight-semibold has-text-centered">{{delivered}}</div>
				</div>
			</div>
		</div>
	</div>
	<!--card bitişi-->
	<!--card başlangıcı-->
	<div class="column is-one-third">
		<div class="card">
			<header class="card-header has-background-grey-lighter">
				<p class="card-header-title is-centered">Orders Pending</p>
			</header>
			<div class="card-content has-background-white-bis">
				<div class="content">
					<div class="column has-text-weight-semibold has-text-centered">{{pending}}</div>
				</div>
			</div>
		</div>
	</div>
	<!--card bitişi-->
</div>
