<div class="columns">
    <!--card başlangıcı-->
    <div class="column is-one-third">
        <div class="card">
            <header class="card-header has-background-grey-lighter">
                <p class="card-header-title is-centered">
                    Total Orders
                </p>
            </header>
            <div class="card-content has-background-white-bis">
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                    <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
        </div>
    </div>
    <!--card bitişi-->
    <!--card başlangıcı-->
    <div class="column is-one-third">
        <div class="card">
            <header class="card-header has-background-grey-lighter">
                <p class="card-header-title is-centered">
                    Orders Delivered
                </p>
            </header>
            <div class="card-content has-background-white-bis">
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                    <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
        </div>
    </div>
    <!--card bitişi-->
    <!--card başlangıcı-->
    <div class="column is-one-third">
        <div class="card">
            <header class="card-header has-background-grey-lighter">
                <p class="card-header-title is-centered">
                    Orders Pending
                </p>
            </header>
            <div class="card-content has-background-white-bis">
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                    <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
        </div>
    </div>
    <!--card bitişi-->
</div>