{% extends 'main/main.html' %}
{% block content %}

<div class="columns is-centered pt-2">
    <div class="column is-centered is-5">

        <form action="" method="post">
            {% csrf_token %}

            <div class="card">
                <header class="card-header">
                    <p class="card-header-title is-centered">
                        {{task.title}}
                    </p>

                </header>
                {% if task.desc is not None %}
                <div class="card-content">
                    <div class="content">
                        {{task.desc}}
                    </div>
                </div>
                {% endif %}
                <footer class="card-footer">
                    <a href="{% url 'home' %}" class="card-footer-item"><span class="button is-info">Cancel</span></a>
                    <span class="card-footer-item"><button type="submit" class="button is-danger">Delete</button></span>
                </footer>
            </div>
        </form>

    </div>
</div>

{% endblock %}