<footer class="footer">
    <div class="content has-text-centered">
        <nav class="level">
            <p class="level-item has-text-centered">
                <a href="https://github.com/uysalserkan/Python-Topics/tree/master/Django%20Apps/todo_app"
                    target="_blank" class="link is-info">View on GitHub</a>
            </p>

            <p class="level-item has-text-centered">
                <a href="https://hub.docker.com/u/uysalserkan" target="_blank" class="link is-info">View on Docker</a>

            </p>
            <p class="level-item has-text-centered">
                <a href="https://github.com/uysalserkan" target="_blank" class="link is-info">Support Developer</a>
            </p>

        </nav>
    </div>
</footer>