{% extends 'src/main.html' %}
<!-- boşluk-->
{% block content %} {% include 'src/includes/status.html' %}

<div class="columns">
	<div class="column">
		<div class="card">
			<header class="card-header has-background-white-bis">
				<p class="card-header-title is-centered">Customer</p>
			</header>
			<div class="card-content">
				<div class="content">
					<table class="table">
						<tr>
							<th>Customer</th>
							<th>Phone</th>
							<th>Mail</th>
						</tr>
						{% for customer in customers %}
						<tr>
							<td>
								<a href="{% url 'customer' customer.id %}">
									<!--buradaki 'customer' urls de bulunan name='customer'-->
									{{customer.name}}
								</a>
							</td>
							<td>{{customer.phone}}</td>
							<td>
								<a href="mailto:{% url 'customer' customer.email %}"
									target="_blank">{{customer.email}}</a>
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Create a Customer</a>
			</footer>
		</div>
	</div>

	<div class="column is-three-fifths">
		<div class="card">
			<header class="card-header has-background-white-bis">
				<p class="card-header-title is-centered">Last 5 Orders</p>
			</header>
			<div class="card-content">
				<div class="content">
					<table class="table">
						<tr>
							<th>Product</th>
							<th>Date Ordered</th>
							<th>Status</th>
							<th>Update</th>
							<th>Remove</th>
						</tr>
						{% for order in orders %}
						<tr>
							<td>{{order.product}}</td>
							<td>{{order.date_created}}</td>
							<td>{{order.status}}</td>
							<td>
								<a href="{% url 'update-order' order.id %}">
									<button class="button is-info is-inverted">
										Update
									</button>
								</a>
							</td>
							<td>
								<a href="{% url 'delete-order' order.id %}">
									<button class="button is-danger is-inverted">
										Remove
									</button>
								</a>
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<footer class="card-footer">
				<a href="{% url 'create-order' %}" class="card-footer-item">Create a Order</a>
			</footer>
		</div>
	</div>
</div>
{% endblock content %}