<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Login</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
		/>
	</head>
	<body>
		<form method="POST" action="">
			{% csrf_token %}
			<section class="section px-2">
				<div class="container">
					<div class="columns is-centered">
						<div class="card">
							<div class="card-header is-centered">
								<article class="message is-warning">
									<div
										class="message-header has-text-centered"
									>
										{% for message in messages %}
										<p id="messages">{{message}}</p>
										{% endfor %}
									</div>
								</article>
							</div>
							<div class="card-content">
								<input
									class="input"
									type="username"
									name="username"
									placeholder="Password"
									required
								/>
								<input
									class="input"
									type="password"
									name="password"
									placeholder="Password"
									required
								/>
							</div>
							<footer class="card-footer">
								<p class="card-footer-item">
									<button
										class="button is-info"
										type="submit"
									>
										Login
									</button>
								</p>
								<p class="card-footer-item">
									Don't have an account?
									<a href="{% url 'register' %}" class="ml-2"
										>Sign Up</a
									>
								</p>
							</footer>
						</div>
					</div>
				</div>
			</section>
		</form>
	</body>
</html>
