{% extends 'src/main.html' %}
<!--boşluk-->
{% load static %}
<!--boşluk-->
{% block content %}


<form method="POST" action="">
    {% csrf_token %}
    <!--sending data securely-->
    <!-- <input type="submit" name="submit"> -->
    <div class="tile is-parent has-text-centered">
        <div class="tile is-child box">
            <p class="title">Three</p>
            <div style="padding-bottom: 25px;">{{form}}</div>
            <button class="button is-info" type="submit">Save</button>
        </div>
    </div>
</form>

{% endblock content %}