{% extends 'src/main.html' %}
<!-- boşluk-->
{% block content %}
<!-- <div class="columns"> -->
<div class="column">
	<div class="card">
		<header class="card-header has-background-white-bis">
			<p class="card-header-title is-centered">Products</p>
		</header>
		<div class="card-content">
			<div class="content">
				<table class="table">
					<tr>
						<th>Product</th>
						<th>Category</th>
						<th>Price</th>
					</tr>
					{% for product in products %}
					<tr>
						<td>{{product.name}}</td>
						<td>{{product.category}}</td>
						<td>{{product.price}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
<!-- </div> -->

{% endblock %}
